.navbar {
  background: #09131a;
  width: 100%;
  display: flex;
  justify-content: center;
}

.nav-wrapper {
  width: 100%;
  max-width: 1440px;
  height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}

.nav-brand > a {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 23.1px;
  line-height: 28px;
  color: #ffffff;
  text-decoration: none;
}

.brand-logo > span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  color: #d81f26;
}

.nav-right-assets-wrapper {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.avatar-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.page-section {
  background: #09131a;
  min-height: calc(100vh - 61px);
  width: 100%;
  display: flex;
  justify-content: center;
}
.home-page-container {
  width: 100%;
  max-width: 1440px;
  padding: 0px 40px 0px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-page-container > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.search-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.mock-input {
  width: 344px;
  height: 40px;
  filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.06));
  border: 1px solid rgba(102, 105, 106, 0.2);
  border-radius: 8px;
  position: relative;
  cursor: pointer;
}

.movies-page-container {
  width: 100%;
  max-width: 1440px;
  padding: 0px 40px 0px 40px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
}

.filter-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding-top: 75px;
}
.filter-results {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.first-results {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}
.second-results {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.6);
}

.movies-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 40px;
}

.card-container {
  display: flex;
  justify-content: center;
}

.movie-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  width: 240px;
}

.card-body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}

.card-description {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: rgba(255, 255, 255, 0.6);
}

.classification-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 6px 8px;
  gap: 10px;
  width: 85px;
  height: 30px;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 8px;
}

.classification {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}

.pagination-btn {
  all: unset;
  cursor: pointer;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fcfcfa;
}

.pagination-btn-red {
  color: #d81f26;
}

.pagination-btns-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 40px
}

.search-wrapper {
  background: transparent;
  border: 1px solid rgba(102, 105, 106, 0.2);
  width: 284px;
  height: 40px;
  border-radius: 8px;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 5px;
}
.search-input {
  all: unset;
  background-color: transparent;
  border: none;
  width: 100%;
  padding-left: 5px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f9f6f1;
}

.select-sort {
  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  gap: 8px;

  width: 253px;
  height: 40px;

  background: #09131a;
  border: 1px solid rgba(102, 105, 106, 0.2);
  border-radius: 8px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #ffffff;
}
